<form [formGroup]="addPostForm" class="postForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <md-input-container class="col-md-4">
      <input formControlName=title mdInput placeholder="Title"/>
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container class="col-md-4">
      <input mdInput placeholder="Category" class="col-md-4" formControlName="category"/>
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container class="col-md-4">
      <input mdInput [mdDatepicker]="picker" placeholder="Prefered Date" formControlName="preferedDate">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
      <md-datepicker #picker></md-datepicker>
    </md-input-container>
  </div>

  <div class="row">
    <md-input-container class="col-md-4">
      <input mdInput placeholder="Prefered Time" formControlName="preferedTime"/>
    </md-input-container>
    <md-input-container class="col-md-4">
      <input mdInput placeholder="Duration" formControlName="duration"/>
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container class="col-md-4">
      <input mdInput placeholder="Hourly Rate" formControlName="hourlyRate"/>
      <md-error>This field is required</md-error>
    </md-input-container>
  </div>
  <md-input-container class="full-width">
    <textarea mdInput placeholder="Job Description" formControlName=description placeholder="Description"></textarea>
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
           #search [formControl]="searchControl">
  </md-input-container>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <button md-button [disabled]="!addPostForm.valid" class="btn btn-success btnPost">
    <i class="material-icons md-18">assignment</i> Post
  </button>
  <button #closeBtn md-button md-dialog-close="true" class="btn btn-success btnPost">
    <i class="material-icons md-18">assignment</i> Close
  </button>
</form>
