<div class="size">
  <md-card-header>
    <img md-card-avatar md-card-sm-image src="{{data.applieduser.picture}}">
    <md-card-title-group class="margin-5">
      <md-card-title>
        <h5>
          {{data.applieduser.name}}
        </h5>
      </md-card-title>
      <md-card-subtitle>Email: <strong>{{data.applieduser?.email}}</strong></md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <hr>
  <md-list>
    <md-list-item *ngFor="let job of data.applieduser.jobs_applied">
      <div class="row">
        <div class="col-sm-4">
          {{job.title}}
        </div>
        <div class="col-sm-4">
          <md-icon class="star-icon">star_rate</md-icon><md-icon class="star-icon">star_rate</md-icon><md-icon class="star-icon">star_rate</md-icon>
          <!--Rating: <strong>{{job.rating}}</strong>-->
        </div>
        <div class="col-sm-4">
          <!--Comment: <strong>{{job.comment}}</strong>-->
          Good Job!
        </div>
      </div>
    </md-list-item>
  </md-list>

  <md-card-actions class="clear-fix">
    <button class="apply float-right" md-button (click)="approveUser()">
      Approve
    </button>
  </md-card-actions>
</div>
