<div class="profile-void-box"></div>
<div class="user-card row">
  <div class="col-sm-8 col-md-6 col-centered">
    <md-card>
      <md-card-content class="text-center user-content">
        <img md-card-avatar md-card-lg-image src="{{this.auth.getUser()?.picture}}">
        <p class="username">{{this.auth.getUser().name}}</p>
        <p class="email">{{this.auth.getUser().email}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="row user-history">
  <div class="col-sm-8 col-md-6 col-centered">
    <md-tab-group md-stretch-tabs>
      <md-tab label="Applied Jobs">
        <app-profile-applied-jobs></app-profile-applied-jobs>
      </md-tab>

      <md-tab label="Posted Jobs">
        <app-profile-posted-jobs></app-profile-posted-jobs>
      </md-tab>
    </md-tab-group>
  </div>
</div>
