.user-card{
  margin-top: -131px;
}
.username{
  margin-bottom: 0;
  padding-top: 16px;
  font-size: x-large;
}
.email{
  font-size: small;
}

.profile-void-box{
  height: 192px;
  background-color: #3f51b5;
  margin-top: 64px;
}
.user-history{
  margin-top: 20px;
}

