<div class="profile-void-box"></div>
<div class="user-card row">
  <div class="col-sm-10 col-md-7 col-centered">
    <md-card>
      <md-card-content class="text-center user-content">
        <img md-card-avatar md-card-lg-image src="{{this.auth.getUser()?.picture}}">
        <p class="username">{{this.auth.getUser().name}}</p>
        <p class="email">{{this.auth.getUser().email}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="row user-history">
  <div class="col-sm-10 col-md-7 col-centered">
    <md-tab-group md-stretch-tabs>
      <md-tab label="Applied Jobs">
        <p *ngFor="let jobApplied of jobsApplied | convertToArray">
          <app-profile-applied-jobs [jobApplied]="jobApplied"></app-profile-applied-jobs>
        </p>
      </md-tab>

      <md-tab label="Posted Jobs">
        <p *ngFor="let jobPosted of jobsPosted | convertToArray">
          <app-profile-posted-jobs [jobPosted]="jobPosted"></app-profile-posted-jobs>
        </p>
      </md-tab>
    </md-tab-group>
  </div>
</div>
