<div class="profile-void-box"></div>
<div class="user-card row">
  <div class="col-sm-8 col-md-6 col-centered">
    <md-card>
      <md-card-content class="text-center user-content">
        <img md-card-avatar md-card-lg-image src="{{this.auth.getUser()?.picture}}">
        <p class="username">{{this.auth.getUser().name}}</p>
        <p class="email">{{this.auth.getUser().email}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="row user-history">
  <div class="col-sm-8 col-md-6 col-centered">
    <md-tab-group md-stretch-tabs>
      <md-tab label="Applied Jobs">
        <md-card class="job-card">
          <md-card-header>
            <img md-card-avatar md-card-sm-image src="{{this.auth.getUser().picture}}">
            <div class="card-title-group">
              <md-card-title class="card-title clear-fix">
                <h5 class="job-title">New Job is here asdad!!!
                  <small>
                    <md-icon class="base-align-icon">keyboard_arrow_right</md-icon>
                    Plumber</small>
                </h5>
                <span *ngIf="rating" class="rating">
                  <md-icon *ngFor="let r of rating" class="star-icon">star_rate</md-icon>
                  <md-icon *ngFor="let r of norating" class="star-icon">star_border</md-icon>
                </span>
                <span *ngIf="!rating && status==='ongoing'" class="rating ongoing">
                  Ongoing
                </span>
                <span *ngIf="!rating && status==='completed'" class="rating completed">
                  Completed
                </span>
              </md-card-title>
              <md-card-subtitle>
                Offered by: <strong>Kshitij Chandra Poudyal</strong> in <strong>Fairfield, Iowa</strong>
              </md-card-subtitle>
            </div>
          </md-card-header>
          <md-card-content>
            <p class="description">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
            <hr>
            <div class="details row">
              <div class="col-md-3">
                <a md-button mdTooltip="Preferred Date"><md-icon class="base-align-icon">date_range</md-icon> 24 April, 2017</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Preferred Time"><md-icon class="base-align-icon">access_time</md-icon> 12:00 PM</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Job Duration"><md-icon class="base-align-icon">hourglass_empty</md-icon> 2 hours</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Rate"><md-icon class="base-align-icon">attach_money</md-icon> 20/hour</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-11 comment">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
              <div class="col-sm-1">
                <img md-card-avatar src="{{this.auth.getUser()?.picture}}">
              </div>
            </div>
          </md-card-content>
        </md-card>
      </md-tab>




      <md-tab label="Posted Jobs">
        <md-card class="job-card">
          <md-card-header>
            <img md-card-avatar md-card-sm-image src="{{this.auth.getUser().picture}}">
            <div class="card-title-group">
              <md-card-title class="card-title clear-fix">
                <h5 class="job-title">New Job is here asdad!!!
                  <small>
                    <md-icon class="base-align-icon">keyboard_arrow_right</md-icon>
                    Plumber</small>
                </h5>
                <span *ngIf="rating" class="rating">
                  <md-icon *ngFor="let r of rating" class="star-icon">star_rate</md-icon>
                  <md-icon *ngFor="let r of norating" class="star-icon">star_border</md-icon>
                </span>
                <span *ngIf="!rating && status==='ongoing'" class="rating ongoing">
                  Ongoing
                </span>
                <span *ngIf="!rating && status==='completed'" class="rating completed">
                  Completed
                </span>
              </md-card-title>
              <md-card-subtitle>
                Offered by: <strong>Kshitij Chandra Poudyal</strong> in <strong>Fairfield, Iowa</strong>
              </md-card-subtitle>
            </div>
          </md-card-header>
          <md-card-content>
            <p class="description">
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
            <hr>
            <div class="details row">
              <div class="col-md-3">
                <a md-button mdTooltip="Preferred Date"><md-icon class="base-align-icon">date_range</md-icon> 24 April, 2017</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Preferred Time"><md-icon class="base-align-icon">access_time</md-icon> 12:00 PM</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Job Duration"><md-icon class="base-align-icon">hourglass_empty</md-icon> 2 hours</a>
              </div>
              <div class="col-md-3">
                <a md-button mdTooltip="Rate"><md-icon class="base-align-icon">attach_money</md-icon> 20/hour</a>
              </div>
            </div>
            <hr>
            <div *ngIf="status==='ongoing'" class="row">
              <div class="col-sm-11 comment">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              </div>
              <div class="col-sm-1">
                <img md-card-avatar src="{{this.auth.getUser()?.picture}}">
              </div>
            </div>

            <div *ngIf="status!=='ongoing'" class="row applied-users">
              <div class="col-sm-12">
                <img md-card-avatar *ngFor="let applieduser of appliedusers" (click)="openUserDialog()" mdTooltip="{{applieduser.name}}" src="{{this.auth.getUser()?.picture}}">
              </div>
            </div>
          </md-card-content>
        </md-card>
      </md-tab>
    </md-tab-group>
  </div>
</div>
