<md-input-container>
  <md-icon mdPrefix>search</md-icon>
  <input type="search" mdInput placeholder="Search Query" [(ngModel)]="searchQuery" (keypress)="keyPressed($event)">
</md-input-container>
<!--<md-select placeholder="Search Option">-->
<!--<md-option *ngFor="let searchOption of searchOptions" [value]="searchOption">-->
<!--{{ searchOption }}-->
<!--</md-option>-->
<!--</md-select>-->
<md-input-container>
  <md-icon mdPrefix>book</md-icon>
  <input size="15" type="search" mdInput placeholder="Category" [(ngModel)]="category" (keypress)="keyPressed($event)">
</md-input-container>
<md-input-container>
  <md-icon mdPrefix>location_on</md-icon>
  <input size="15" type="search" mdInput placeholder="Location" [(ngModel)]="location" (keypress)="keyPressed($event)">
</md-input-container>
<md-input-container>
  <md-icon mdPrefix>attach_money</md-icon>
  <input size="10" type="search" mdInput placeholder="Min Fees" [(ngModel)]="minFees" (keypress)="keyPressed($event)">
</md-input-container>
