<md-card>
  <div class="row">
    <div class="col-md-12 search-bar">
      <md-input-container class="full-width">
        <md-icon mdPrefix>search</md-icon>
        <input class="search-input" type="search" mdInput placeholder="Search Query" [(ngModel)]="searchQuery"
               (keypress)="keyPressed($event)">
        <span mdTooltip="Advanced Search" (click)="toggle()"><md-slide-toggle></md-slide-toggle></span>
      </md-input-container>
    </div>
  </div>
  <div *ngIf="advancedSearch" class="row">
    <div class="col-md-4">
      <md-input-container class="full-width">
        <md-icon mdPrefix>book</md-icon>
        <input size="15" type="search" mdInput placeholder="Category" [(ngModel)]="category"
               (keypress)="keyPressed($event)">
      </md-input-container>
    </div>
    <div class="col-md-4">
      <md-input-container class="full-width">
        <md-icon mdPrefix>location_on</md-icon>
        <input size="15" type="search" mdInput placeholder="Location" [(ngModel)]="location"
               (keypress)="keyPressed($event)">
      </md-input-container>
    </div>
    <div class="col-md-4">
      <md-input-container class="full-width">
        <md-icon mdPrefix>attach_money</md-icon>
        <input size="10" type="search" mdInput placeholder="Min Fees" [(ngModel)]="minFees" (keypress)="keyPressed($event)">
      </md-input-container>
    </div>
  </div>
</md-card>
