<md-card class="card">
  <md-card-header>
    <img md-card-avatar md-card-sm-image src="{{job?.posted_by.picture}}">
    <md-card-title-group class="margin-5">
      <md-card-title>
        <h5>
          {{job.title}}
          <small>
            <md-icon class="base-align-icon">keyboard_arrow_right</md-icon>
            {{job.category}}</small>
        </h5>
      </md-card-title>
      <md-card-subtitle>Offered by: <strong>{{job.posted_by.name}}</strong> in <strong>{{job.location.address}}</strong></md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <md-card-content>
    <p class="description">
      {{job.description}}
    </p>
    <hr>
    <div class="details row">
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Date"><md-icon class="base-align-icon">date_range</md-icon> {{job.preferred_date | date: 'dd/MM/yyyy'}}</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Time"><md-icon class="base-align-icon">access_time</md-icon> {{job.preferred_time}}</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Job Duration"><md-icon class="base-align-icon">hourglass_empty</md-icon> {{job.duration}} Hour(s)</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Rate"><md-icon class="base-align-icon">attach_money</md-icon> {{job.hourly_rate}}/hour</a>
      </div>
    </div>
  </md-card-content>
  <hr>
  <md-card-actions class="clear-fix">
    <button class="apply" md-button (click)="apply()">
      <!--<md-icon>assignment</md-icon>-->
      Apply
    </button>
  </md-card-actions>
</md-card>
