<md-card class="card">
  <md-card-header>
    <img md-card-avatar md-card-sm-image src="{{this.auth.getUser().picture}}">
    <md-card-title-group class="margin-5">
      <md-card-title>
        <h5>New Job is here!!!
          <small>
            <md-icon class="base-align-icon">keyboard_arrow_right</md-icon>
            Plumber</small>
        </h5>
      </md-card-title>
      <md-card-subtitle>Offered by: <strong>Kshitij Chandra Poudyal</strong> in <strong>Fairfield, Iowa</strong></md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <md-card-content>
    <p class="description">
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
    </p>
    <hr>
    <div class="details row">
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Date"><md-icon class="base-align-icon">date_range</md-icon> 24 April, 2017</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Time"><md-icon class="base-align-icon">access_time</md-icon> 12:00 PM</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Job Duration"><md-icon class="base-align-icon">hourglass_empty</md-icon> 2 hours</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Rate"><md-icon class="base-align-icon">attach_money</md-icon> 20/hour</a>
      </div>
    </div>
  </md-card-content>
  <hr>
  <md-card-actions class="clear-fix">
    <button class="apply" md-button (click)="apply()">
      <!--<md-icon>assignment</md-icon>-->
      Apply
    </button>
  </md-card-actions>
</md-card>