<md-card class="job-card">
  <md-card-header>
    <img md-card-avatar md-card-sm-image src="{{posteduser?.picture}}">
    <div class="card-title-group">
      <md-card-title class="card-title clear-fix">
        <h5 class="job-title">{{jobDetailedList?.title}}
          <small>
            <md-icon class="base-align-icon">keyboard_arrow_right</md-icon>
            {{jobDetailedList?.category}}</small>
        </h5>
        <span *ngIf="rating >= 0 && status==='completed'" class="rating">
                  <md-icon *ngFor="let r of rating" class="star-icon">star_rate</md-icon>
                  <md-icon *ngFor="let r of norating" class="star-icon">star_border</md-icon>
                </span>
        <span *ngIf="jobDetailedList.status==='ongoing'" class="rating ongoing">
                  Ongoing
                </span>
        <span *ngIf="jobDetailedList.status==='completed'" class="rating completed">
                  Completed
                </span>
        <span *ngIf="jobDetailedList.status==='pending'" class="rating pending">
                  Pending
                </span>
      </md-card-title>
      <md-card-subtitle>
        Offered by: <strong>{{posteduser?.name}}</strong> in <strong>{{jobDetailedList?.location?.address}}</strong>
      </md-card-subtitle>
    </div>
  </md-card-header>
  <md-card-content>
    <p class="description">
      {{jobDetailedList.description}}
    </p>
    <hr>
    <div class="details row">
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Date"><md-icon class="base-align-icon">date_range</md-icon> {{jobDetailedList?.preferred_date | date: 'dd/MM/yyyy'}}</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Preferred Time"><md-icon class="base-align-icon">access_time</md-icon> {{jobDetailedList?.preferred_time}}</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Job Duration"><md-icon class="base-align-icon">hourglass_empty</md-icon> {{jobDetailedList?.duration}} Hour(s)</a>
      </div>
      <div class="col-md-3">
        <a md-button mdTooltip="Rate"><md-icon class="base-align-icon">attach_money</md-icon> {{jobDetailedList?.hourly_rate}}/Hour</a>
      </div>
    </div>
    <hr>
    <div *ngIf="status==='completed' && jobApplied.feedback" class="row">
      <div class="col-sm-11 comment">
        <p *ngIf="jobApplied.comment">{{jobApplied.feedback}}</p>
      </div>
      <div class="col-sm-1">
        <img md-card-avatar src="{{this.auth.getUser()?.picture}}">
      </div>
    </div>
    <div *ngIf="canIComment()">
      <div class="row">
        <div class="col-sm-11 comment">
          <p class="feedback">this is a feed back from employee!!</p>
        </div>
        <div class="col-sm-1">
          <img md-card-avatar src="{{this.auth.getUser()?.picture}}">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-1">
          <img md-card-avatar src="{{this.auth.getUser()?.picture}}">
        </div>
        <div class="col-sm-10 comment">
          Give a Rating<md-slider class="full-width"
            (input)="onSliderChange($event)"
            [max]="5"
            [min]="0"
            [step]="1"
            [thumb-label]="true">
          </md-slider>
          <md-input-container class="full-width">
            <textarea mdInput placeholder="Give a Feedback" #feedback></textarea>
          </md-input-container>
        </div>
      </div>
      <div class="clear-fix">
        <button class="float-right" md-raised-button (click)="updateFeedBack(feedback.value)">Give Feedback</button>
      </div>
    </div>
  </md-card-content>
</md-card>
