/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
body{
  background-image: url("./assets/geometry.png");
  font-family: 'Roboto', sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}
